{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome on my Page</h1>

    I have multiple passions like:
    <ul>
        <code>Video games</code><br>
        <code>Music</code><br>
        <code>Programming</code><br>
        <code>Design</code>
    </ul>
</div>

{% endblock %}
